DATABASE_URL=postgresql+psycopg2://user:password@db:5432/db_name
TOKEN_DURATION=60
SECRET_KEY=your_super_secret_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret
STRIPE_SECRET_KEY=sk_test...
TESTS_DATABASE_URL=postgresql+psycopg2://user:password@db_test:5432/tests_db_name
ALGORITHM=HS256
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_NAME=db_name
TESTS_POSTGRES_NAME=tests_db_name