body{
    color: #2D3748;
    margin: 0;

}
.navbar{
    font-family: "Montserrat";
    display: flex;
    align-items: center;
    margin: 40px 20px 20px 20px;
    padding: 20px 40px;
    border-bottom: 2px solid #1A365D;
    background-color: #F8F9FA;
    margin-bottom: 60px;
    flex-direction: column;
}
.navbar__links{
    margin-top: 40px
}
.links__item{
    background-color: #CBD5E1;
    padding: 7px 12px;
    border-radius: 3px;
    margin-right: 12px;
    color: #1A365D;
    text-decoration: none;
    font-size: 0.8em;
    transition: background-color .2s ease;
}
.links__item:hover{
    background-color: #B8C5D6;
}
.link--login{
    background-color: #2D3748;
    color:#CBD5E1; 
}
.link--login:hover{
    background-color: #2D475f;
    color:#CBD5E1; 
}
.brand__logo{
    height: 70px;
    margin-right: 40px;
}
.brand__name{
    font-size: 1.9em;
}
.searchbar{
    display: flex;
    max-width: 800px;
    margin: auto;
    justify-content: center;
}
.searchbar__button{
    height: 35px;
    border: none;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 5px;
    background-color: #F66D1A;
    width: 90px;
    transition: background-color .3s ease;
}
.searchbar__input{
    flex-grow: 1;
    padding: 12px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid  #CBD5E1;
    border-radius: 8px;
    outline: none;
    box-sizing: border-box;

}
.searchbar__input:focus{
    border-color: #1A365D;
}

.card{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.card__item{
    border-left: 1px solid #1A365D;
    border-bottom: 1px solid #1A365D;
    background-color: #F8F9FA;
    padding: 40px;
}
.card__title{
    font-family: "Montserrat";
}
.card__button{
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #F66D1A;
    color: white;
    cursor: pointer;
    transition: background-color .3s ease;
}
.card__button:hover, .searchbar__button:hover{
    background-color: #DD5A0F;
}
.card__description{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}
.searchbar__button, .card__button {
    color: white;
    cursor: pointer;
}

@media screen and (min-width: 950px) {
    .navbar{
        justify-content: space-between;
        flex-direction: row;
    }
    .brand__name{
        margin-right: 40px;
        font-size: 2.3em;
    }
}
